.item1 { 
  grid-area: menu;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  top: 69px;
}
.item1::-webkit-scrollbar {
  display: none;
}

.item2 {
   grid-area: main;
   background-color: #e5e5ef;
   padding-top: 70px;
  }


.gridContainer {
  display: grid;
  grid-template-areas:
    'menu main main main main main';
    grid-template-columns: 230px 5fr;
}

/* main body item  */
.mainBody{
  margin: 10px 10px 0px 10px;
}
.mainTop{
  display: grid;
    grid-template-columns: auto auto;
    background-color: #fff;
    justify-content: space-between;
    border-radius: 3px;
    padding: 0 10px;
    align-items: center;
}

.topMainId{
  color: #d72a4e;
}

.productOptions{
  display: flex;
  gap: 10px;
}

.productOptions select{
  width: 167px;
  height: 30px;
  border: 1px solid #d72a4e;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.productOptions input{
  width: 100px;
  height: 30px;
  outline: none;
  text-align: center;
  border: 1px solid #d72a4e;
  border-radius: 3px;
}

.productOptions input::placeholder {
  color: black;
}

.productOptions button{
  width: 54px;
  height: 30px;
  background-color: #002c36;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #d72a4e;
}


.mainProductBody{
  margin: 10px 0;
}


/* mobile divice */

 /* for mobile device */
 @media only screen and (max-width: 768px) {
  .gridContainer {
    display: inline-block;
  }
  
  .item1 { 
    display: none;
  }

  .item2 {
    display: inline-block;
    padding-top: 110px;
    padding-bottom: 72px;
   }
 
   .mainBody{
    margin: 10px 0px 0px 0px;
  }
   .mainTop{
    width: 100%;
    display: block;
    text-align: center;
      padding: 10px 10px;
  }

  .productOptions{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
  }

.selectOptions{
  width: 100%;
  display: block;
}

.productOptions select{
  width: 80%;

}
  
}



/* laptop davice */

@media only screen and (min-width: 769px) and (max-width: 1366px) {
  .gridContainer {
    display: grid;
    grid-template-areas:
      'menu main main main main main';
      grid-template-columns: 230px 5fr;
  }
  /* .item2 {
    justify-self: center;
  } */

   .bgColor{
    display: inline-block;
   background-color: #e5e5ef;;
   }
}


@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .gridContainer {
    display: grid;
    grid-template-areas:
      'menu main main main main main';
      
  }

  .bgColor{
    display: inline-block;
   background-color: #e5e5ef;;
   }
}