.item1 { 
  grid-area: menu;
  background-color: green;
}
.item2 {
   grid-area: topBody;
   background-color: #2196F3;
  }
.item3 {
   grid-area: main;
   background-color: orange;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    'menu topBody topBody topBody topBody topBody'
    'menu main main main main main';
  gap: 10px;
  padding: 10px;
}