.productBody{
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


/* mobile divice */

 /* for mobile device */
 @media only screen and (min-width: 360px) and (max-width:  767px) {
    .productContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
  }